.searchBox {
  width: 100%;
  -webkit-box-sizing: border-box;
  height: 2.0em;
  font-size: 16pt;
  border: 1px solid;
  border-radius: 3px;
  outline: none;
  padding: 0.3em;
  margin-bottom: 0.5em;
}
