html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root, .search-box, .candidate-group-name, .candidate-group-table {
  width: 100%;
  -webkit-box-sizing: border-box;
}

#root {
  padding: 10px;
}

.search-box {
  height: 2.0em;
  font-size: 16pt;
  border: 1px solid;
  border-radius: 3px;
  outline: none;
  padding: 0.3em;
}

.candidate-group {
  margin-bottom: 1.0em;
}

.candidate-group-name {
  font-size: 10pt;
  font-style: italic;
}

.candidate-group-table {
  margin-top: 5px;
  table-layout: fixed;
  font-size: 12pt;
  border-collapse: separate;
  border-spacing: 0 2px;
}

td.candidate-thumb {
  text-align: center;
}

.candidate-thumb > img {
  height: 100%;
  width: auto;
}

.candidate-title, .candidate-url {
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0;
}

.candidate-title {
  font-weight: bold;
}

.candidate-url {
  font-size: 70%;
}

.candidate {
  background-color: #eeeeee;
}

.candidate.selected {
  background-color: #cccccc;
}
